<div class="detailsConatiner mx-auto py-4">
    <img class="detailsimg" src={{food.imageUrl}} />
    <h3>Details of {{food.name}}</h3>
    <p class="fw-bold text-primary">{{food.price}}</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem minus numquam rerum impedit sunt nihil accusantium molestias quibusdam cupiditate perspiciatis doloribus nulla, voluptas eligendi a dolorem corporis, officiis ut tempora.</p>
    <button (click)="AddToCartHanlder(food)" class="btn btn-warning fw-bold my-4">Add to Cart</button>
</div>
