.inputField{
    display: block;
    margin-top: 10px;
    height: 55px;
    width: 400px;
    border-radius: 8px;
    border: solid gray 1px;
    align-self: center;
    padding-left: 20px;
}
.createDiv{
    padding-left: 50px;
    align-self: center;
}
.addBtn{
    background-color: rgb(28, 64, 224);
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    height: 35px;
    width: 70px;
}
.testbtn{
    background-color: rgb(248, 0, 0);
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    height: 35px;
    width: 70px;
}